doctype html
html.app-html
  head
    meta(charset='UTF-8')
    title Ecomman Website
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css')
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='../public/css/materialize.min.css')
    link(type='text/css', rel='stylesheet', href='../public/css/newcss.css')
    link(type='text/css', rel='stylesheet', href='../public/css/styles.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body.app-body
    // Import jQuery before materialize.js
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='../public/js/materialize.min.js')
    main
      .navbar-fixed.navbar-container
        nav.navbar
          .nav-wrapper
            a.brand-logo(href='#') Logo
            ul.right.hide-on-med-and-down
              li
                a(href='../views/about.html') About
              li
                a(href='../views/login.html') Log out
      // App menu
      .app-main
        .left-nav-wrapper.z-depth-1.blue-grey.darken-4
          ul.left-navbar
            .profile-img
              img.circle.responsize-img(src='../public/images/profilepic.jpg', alt='')
            .shop-information
              span.shop-information-text Cutie Neko shop
            .nav-link-container
              a.nav-link.link-active(href='/dashboards')
                i.material-icons.nav-link-icon dashboard
                span.nav-link-text DASHBOARD
              a.nav-link(href='/statistics')
                i.material-icons.nav-link-icon equalizer
                span.nav-link-text STATISTIC
              a.nav-link(href='/stocks')
                i.material-icons.nav-link-icon store
                span.nav-link-text STOCK
              a.nav-link(href='/orders')
                i.material-icons.nav-link-icon assignment
                span.nav-link-text ORDER
              a.nav-link(href='/customers')
                i.material-icons.nav-link-icon supervisor_account
                span.nav-link-text CUSTOMER
        // Main Content
        main
          .app-content
            .row
              .col.s12.m9
                .card.white.darken-1
                  .card-content.blue-grey-text
                    span.card-title ORDER
                    .divider
                    ul.row
                      li.col.s4
                        .card.white.darken-1
                          .card-content.blue-grey-text.border-green.text-center
                            span.card-title Ordered
                            p(style='font-size:30px') 10
                      li.col.s4
                        .card.white.darken-1
                          .card-content.blue-grey-text.border-yellow.text-center
                            span.card-title Paid
                            p(style='font-size:30px') 8
                      li.col.s4
                        .card.white.darken-1
                          .card-content.blue-grey-text.border-blue.text-center
                            span.card-title Shipped
                            p(style='font-size:30px') 5
            .col.s12.m12
              .card.white.darken-1
                .col
                  .card-content.blue-grey-text
                    span.card-title Selling Statistics
                .card-content.blue-grey-text
                  .row
                    .col.s3 Total Sales xx pieces
                    .col.s3 Total Sales xxxx Baht
                  #canvas-holder(style='width:50%')
                    canvas#chart-area(width='300', height='300')
                div
                  script.
                    var randomScalingFactor = function() {
                    return Math.round(Math.random() * 100);
                    };
                    var randomColorFactor = function() {
                    return Math.round(Math.random() * 255);
                    };
                    var randomColor = function(opacity) {
                    return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
                    };
                    var config = {
                    type: 'pie',
                    data: {
                    datasets: [{
                    data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    ],
                    backgroundColor: [
                    "#F7464A",
                    "#46BFBD",
                    "#FDB45C",
                    "#949FB1",
                    "#4D5360",
                    ],
                    }, {
                    data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    ],
                    backgroundColor: [
                    "#F7464A",
                    "#46BFBD",
                    "#FDB45C",
                    "#949FB1",
                    "#4D5360",
                    ],
                    }, {
                    data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    ],
                    backgroundColor: [
                    "#F7464A",
                    "#46BFBD",
                    "#FDB45C",
                    "#949FB1",
                    "#4D5360",
                    ],
                    }],
                    labels: [
                    "Red",
                    "Green",
                    "Yellow",
                    "Grey",
                    "Dark Grey"
                    ]
                    },
                    options: {
                    responsive: true
                    }
                    };
                    window.onload = function() {
                    var ctx = document.getElementById("chart-area").getContext("2d");
                    window.myPie = new Chart(ctx, config);
                    };
                    $('#randomizeData').click(function() {
                    $.each(config.data.datasets, function(i, piece) {
                    $.each(piece.data, function(j, value) {
                    config.data.datasets[i].data[j] = randomScalingFactor();
                    //config.data.datasets.backgroundColor[i] = 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
                    });
                    });
                    window.myPie.update();
                    });
                    $('#addDataset').click(function() {
                    var newDataset = {
                    backgroundColor: [randomColor(0.7), randomColor(0.7), randomColor(0.7), randomColor(0.7), randomColor(0.7)],
                    data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                    };
                    config.data.datasets.push(newDataset);
                    window.myPie.update();
                    });
                    $('#removeDataset').click(function() {
                    config.data.datasets.splice(0, 1);
                    window.myPie.update();
                    });
