doctype html
html.app-html
  head
    meta(charset='UTF-8')
    |     
    title Ecomman Website
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css')
    |     
    link(type='text/css', rel='stylesheet', href='css/newcss.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  |   
  body.app-body
    // Import jQuery before materialize.js
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    |     
    script(type='text/javascript', src='js/materialize.min.js')
    |       
    nav.navbar
      .nav-wrapper
        a.brand-logo(href='#') Logo
        |             
        ul.right.hide-on-med-and-down
          li
            a(href='sass.html') Sass
          |               
          li
            a(href='badges.html') Components
          |               
          li
            a(href='collapsible.html') JavaScript
      |           
      .left-nav-wrapper.z-depth-1.blue-grey.darken-3
        ul.left-navbar
          .col.s2
            img.circle.responsize-img.circle-img(src='images/profilepic.jpg', alt='')
          |                 
          li dldldldl
          |                 
          li dddddd
