doctype html
html.app-html
  head
    meta(charset='UTF-8')
    title Ecomman Website
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='/css/materialize.min.css')
    link(type='text/css', rel='stylesheet', href='/css/newcss.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body.app-body
    // Import jQuery before materialize.js
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/js/materialize.min.js')
    script(type='text/javascript', src='/js/app.js')
    main
      .navbar-fixed.navbar-container
        nav.navbar
          .nav-wrapper
            a.brand-logo(href='#') Logo
            ul.right.hide-on-med-and-down
              li
                a(href='#') About
              li
                a(href='#') Log out
      // App menu
      .app-main
        .left-nav-wrapper.z-depth-1.blue-grey.darken-4
          ul.left-navbar
            .profile-img
              img.circle.responsize-img(src='/images/profilepic.jpg', alt='')
            .shop-information
              span.shop-information-text Cutie Neko shop
            .nav-link-container
              a.nav-link(href='/dashboards')
                i.material-icons.nav-link-icon dashboard
                span.nav-link-text DASHBOARD
              a.nav-link.link(href='/statistics')
                i.material-icons.nav-link-icon equalizer
                span.nav-link-text STATISTIC
              a.nav-link(href='/stocks')
                i.material-icons.nav-link-icon store
                span.nav-link-text STOCK
              a.nav-link-active(href='/orders')
                i.material-icons.nav-link-icon assignment
                span.nav-link-text ORDER
              a.nav-link(href='/customers')
                i.material-icons.nav-link-icon supervisor_account
                span.nav-link-text CUSTOMER
        // Main Content
        main
          .app-content
            .app-content
              // write code here
              .body-container.z-depth-1
                .head-bar
                  .add-button-item.head-bar-button
                    a.waves-effect.waves-light.btn.modal-trigger(href='#addOrder')
                      i.material-icons.left library_add
                      span.body-button Add Order
                  .search-wrapper.head-bar-search
                    .head-bar-search-tb.card
                      i.material-icons.head-bar-search-icon search
                      input#search.head-bar-search-text
              .body-container.z-depth-1
                .row
                  .col.s12
                    ul.tabs
                      li.tab.col.s3
                        a.active(href='#ordered') Ordered
                      li.tab.col.s3
                        a(href='#paid') Paid
                      li.tab.col.s3
                        a(href='#shipped') Shipped
                  
                  #ordered.col.s12
                    table.order-info-tb
                      thead.green.lighten-4
                        tr
                          th.order-id-cell Order ID
                          th.order-cus-name-cell Customer Name
                          th.order-date-cell Order Date
                          th.order-totalMoney-cell Total Money
                          th.order-status-cell Status
                          th.order-button-cell
                      tbody
                        each order in orders
                          if order.order_status == "ordered"
                            tr
                              td.order-id-cell
                                a.modal-trigger(href='#orderedInfo')
                                  span.order-link-text 
                                   =order.order_id
                              td.order-cus-name-cell
                                span.order-link-text 
                                 =order.cus_name
                              td.order-date-cell
                                =order.order_date
                              td.order-totalMoney-cell
                                =order.grand_price
                              td.order-status-cell
                                .input-field.col.s12
                                  select
                                    option(value='', disabled='', selected='') Ordered
                                    option(value='1') Ordered
                                    option(value='1') Paid
                                    option(value='2') Shipped
                              td.order-button-cell
                                a.waves-effect.waves-light.btn
                                  i.material-icons.left delete
                                  | Delete
                  #paid.col.s12
                    table.order-info-tb
                      thead.lime.lighten-4
                        tr
                          th.order-id-cell Order ID
                          th.order-cus-name-cell Customer Name
                          th.order-date-cell Order Date
                          th.order-totalMoney-cell Total Money
                          th.order-status-cell Status
                          th.order-button-cell
                      tbody
                        each order in orders
                          if order.order_status == "paid"
                            tr
                              td.order-id-cell
                                a.modal-trigger(href='#orderedInfo')
                                  span.order-link-text AAA-12345678
                              td.order-cus-name-cell
                                span.order-link-text Momo mimi
                              td.order-date-cell 29/4/2559
                              td.order-totalMoney-cell $560.00
                              td.order-status-cell
                                .input-field.col.s12
                                  select
                                    option(value='', disabled='', selected='') Paid
                                    option(value='1') Ordered
                                    option(value='1') Paid
                                    option(value='2') Shipped
                              td.order-button-cell
                                a.waves-effect.waves-light.btn
                                  i.material-icons.left delete
                                  | Delete
                  #shipped.col.s12
                    table.order-info-tb
                      thead.light-blue.lighten-4
                        tr
                          th.order-id-cell Order ID
                          th.order-cus-name-cell Customer Name
                          th.order-date-cell Order Date
                          th.order-totalMoney-cell Total Money
                          th.order-status-cell Status
                          th.order-button-cell
                      tbody

                      each order in orders
                        if order.order_status == "shipped"
                          tr
                            td.order-id-cell
                              a.modal-trigger(href='#orderedInfo')
                                span.order-link-text AAA-12345678
                            td.order-cus-name-cell
                              span.order-link-text Momo mimi
                            td.order-date-cell 29/4/2559
                            td.order-totalMoney-cell $560.00
                            td.order-status-cell
                              .input-field.col.s12
                                select
                                  option(value='', disabled='', selected='') Shipped
                                  option(value='1') Ordered
                                  option(value='1') Paid
                                  option(value='2') Shipped
                            td.order-button-cell
                              a.waves-effect.waves-light.btn
                                i.material-icons.left delete
                                | Delete
              // dddddd
              // Modal Structure
              #orderedInfo.modal.modal-fixed-footer
                .modal-content
                  h4 List Item
                  table
                    thead
                      tr
                        th.item-img-cell
                        th.cus-name-cell Item List
                        th.cus-addr-cell Amount
                        th.cus-numOrder-cell Price
                    tbody
                      tr
                        td.item-img-cell
                          img.responsize-img(src='/images/profilepic.jpg', alt='')
                        td.cus-name-cell
                          p AAA-12345678
                          p Momo item
                        td.cus-addr-cell 1
                        td.cus-numOrder-cell $920.00
                .modal-footer
                  p
                    | shipping cost: 
                    span.right $20.00
                  p
                    | discount: 
                    span.right $100.00
                  p
                    | Total money: 
                    span.right $990.00
                  a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') OK
              // end of modal
              // Modal add order
              #addOrder.modal.modal-fixed-footer
                .modal-content
                  .add-order-head
                    .add-order-icon-cell
                      a.modal-trigger.add-order-icon-cell(href='#cuslist')
                        img.circle.responsize-img(src='/images/profilepic.jpg', alt='')
                    .add-order-info-cell
                      p Name
                      p Order code
                    .add-order-right-cell
                      p
                        | Date : 
                        span 1/5/2559
                      a.waves-effect.waves-light.btn.modal-trigger(href='#itemlist')
                        i.material-icons.left shopping_cart
                        span Add item
                  table
                    thead.cyan.lighten-4
                      tr
                        th.item-order-img-cell pic
                        th.item-order-name-cell Item code
                        th.item-order-amount-cell Amount
                        th.item-order-price-cell price
                        th.item-order-delbutton-cell
                    tbody
                      tr
                        td.item-order-img-cell
                          img.responsize-img(src='/images/profilepic.jpg', alt='')
                        td.item-order-name-cell AAA-123456
                        td.item-order-amount-cell 1
                        td.item-order-price-cell $250.00
                        td.item-order-delbutton-cell
                          a.waves-effect.waves-light.btn.modal-trigger(href='#')
                            i.material-icons.left library_books
                            | DELETE
                .modal-footer
                  .row
                    .add-order-footer
                      .add-order-shipping
                        .input-field.col.l4
                          input#shipping_cost.validate(type='text')
                          label(for='shipping_cost') Shiping Cost
                      .add-order-discount
                        .input-field.col.l4
                          input#discount.validate(type='text')
                          label(for='discount') Discount
                      .add-order-income
                        .input-field.col.l4
                          input#total_money.validate(type='text')
                          label(for='total_money') Total Money
                  a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Save
                  a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cancel
              // end of madal
              // Modal add customer to order
              #cuslist.modal.modal-fixed-footer
                .modal-content
                  h4 Select Customer
                  .collection
                    a.collection-item.cus-list-tb(href='#!')
                      .cus-list-icon
                        img.circle.responsize-img(src='/images/profilepic.jpg', alt='')
                      .cus-list-text
                        p Momo mingming
                .modal-footer
                  a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Save
              // end of madal
              // Modal add item to order
              #itemlist.modal.modal-fixed-footer
                .modal-content
                  h4 Select Item
                  ul.collection
                    li.collection-item.item-list-tb
                      .item-list-icon
                        img.responsize-img(src='/images/profilepic.jpg', alt='')
                      .item-list-text
                        p AAA-1234567
                      .item-list-price
                        p $25550.00
                      .item-list-button
                        a.waves-effect.waves-light.btn
                          i.material-icons.left done
                          span Select
                .modal-footer
                  a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') OK